page-login {

  .login-title {
    text-align: center;
    color: white;
    margin-top: 25%;
    font-family: "Roboto", "Helvetica Neue", sans-serif;
  }
  .login-title h1 {
    font-size: 2.5em !important;
  }
  .login-title h3 {
    font-size: 1.5em !important;
  }

  .login-content {
    background: url("https://www.walldevil.com/wallpapers/w07/colorful-rain-water-drops-wet-lights-blurred-depth-of-field-window-glass.jpg");
    background-size: cover;
  }

  .login-content {

    .login-box {
      padding: 20px 20px 0 20px;
    }

    ion-row {
      align-items: center;
      text-align: center;
    }

    ion-item {
      border-radius: 30px !important;
      padding-left: 30px !important;
      font-size: 0.9em;
      margin-bottom: 10px;
      border: 1px solid #ffffff;
      border-bottom: 0px !important;
      box-shadow: none !important;
    }

    .signup-col {
      margin: 0 16px 0 16px;
    }

    .item-inner {
      border-bottom-color: #ffffff !important;
      box-shadow: none !important;
    }

    .submit-btn {
      border: none;
      border-radius: 30px !important;
      padding: 5px;
      background: #27ae61;
      text-transform: none !important;
    }

    .register-btn {
      color: #ffffff;
      font-size: 0.8em;
    }
  }

}
