@import url('https://fonts.googleapis.com/css?family=Lobster');
ion-col {
  padding: 0 !important;
}
ion-card {
  margin: 0 !important;
}
ion-card-content{
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
page-home {

  .image {
    height: 5vw;
    width: 5vw;
    border: 2px solid #fff;
    //border-radius: 50%;
    box-shadow: 0 0 5px gray;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%; // half for rounding */
    object-fit: cover; /* Scale the image - Center and crop image*/
    object-position: center; /* Center the image within the element - Center and crop image*/
  }

}
.title_re_life .toolbar-title,
.title_re_life .toolbar-title-md{
  font-family: 'Lobster', cursive !important;
  font-size: 2.3rem !important;
}
/*
$SIDEMENU_TOP: #2f3640;
$SIDEMENU_BOTTOM: #00c2ba;
$SIDEMENU_TRANSPARENCY: rgba(255,255,255,0.4);

.toolbar-background-md {
  background: -webkit-gradient(left top, $SIDEMENU_TOP, $SIDEMENU_BOTTOM) !important;
  background: -o-linear-gradient(bottom right, $SIDEMENU_TOP, $SIDEMENU_BOTTOM) !important;
  background: -moz-linear-gradient(bottom right, $SIDEMENU_TOP, $SIDEMENU_BOTTOM) !important;
  background: linear-gradient(to bottom right, $SIDEMENU_TOP, $SIDEMENU_BOTTOM) !important;
  background-repeat: repeat-x !important;
  color: white;
}

.toolbar-ios{
  background: -webkit-gradient(left top, $SIDEMENU_TOP, $SIDEMENU_BOTTOM) !important;
  background: -o-linear-gradient(bottom right, $SIDEMENU_TOP, $SIDEMENU_BOTTOM);
  background: -moz-linear-gradient(bottom right, $SIDEMENU_TOP, $SIDEMENU_BOTTOM);
  background: linear-gradient(to bottom right, $SIDEMENU_TOP, $SIDEMENU_BOTTOM);
  background-repeat: repeat-x;
}
*/
