
page-product {
  .font_family {
    font-family: 'Montserrat', sans-serif;
  }
  .product_detail_starting_price{
    font-size: 2.4em;
    line-height: 1.2em;
    margin: 0 0 0.1em;
    color: color($colors, dark);
  }
  .product_detail_title{
    font-size: 1.3em;
    line-height: 1.5em;
    margin: 0 0 0.1em;
    color: color($colors, secondary);
  }
  .product_detail_description {
    font-size: 1.1em;
    line-height: 1.1em;
    margin: 0 0 0.2em;
    color: color($colors, subtle);
  }
  .product_detail_datetime_product {
    font-size: 1.4rem;
    margin: 0;
    color: color($colors, subtle_secondary);
  }
  .product_detail_max_and_min_bid {
    font-size: 1.8em;
    margin: 0;
  }
  .product_detail_max_and_min_bid p {
    font-size: 1.4rem;
    margin: 0;
    color: color($colors, subtle_secondary);
  }
  .cover {
    height: 300px;
    object-fit: cover;
    width: 100%;
  }

  #background-profile {
    position: relative;
    width: 100%;
    #imgBackground {
      width: 100% !important;
      object-fit: cover;
    }
    @media screen and (orientation: portrait) {
      height: 40%;
    }
    @media screen and (orientation: landscape) {
      height: 70%;
    }
    overflow: hidden;

    #image-avatar {
      position: absolute;
      top: 20%;
      left: 0;
      right: 0;
      text-align: center;
      overflow: hidden;
      #image-border {
        border: 3px solid white;
        border-radius: 56%;
        overflow: hidden;
        margin: 0 auto;
        height: 100px;
        width: 100px;
        background: rgba(255, 255, 255, 0.6);
        img {
          object-fit: cover;
          object-position: center;
          vertical-align: middle;
          height: 100%;
        }
      }
      #nickname {
        color: white;
        width: 100%;
        text-align: center;
      }
    }
  }
}
