page-add-product {

}

.item_image_toolbar {

  height: 150px;
  padding: 0;
  .item-inner {
    padding: 0 !important;
    .label.label-md {
      margin: 0;
      img {
        width: 100%;
        position: absolute;
        top: -60px;
        object-fit: cover;
      }
    }
  }
  background: rgba(175, 175, 175, 0.42);
}

.ion_fab_add_image {
  position: absolute;
  top: 120px;
}

textarea {
  height: 20vh;
}
